@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #f7f7f7;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/*HEADER*/
header {
    background: #fff;
    padding: 10px;
}

nav {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    text-decoration: underline;
    color:#1dc973
}

nav h1 {
    line-height: 1.5rem;
    margin: 20px auto;
}

nav h1 div:first-child {
    font-weight: 800;
}

nav h1 div:last-child {
    font-weight: 400;
    letter-spacing: 1px;
}

/*IMAGE GALLERY*/
.grid-container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(250px, auto);
    margin: 60px auto;
    gap: 30px;
    padding: 30px;
}

.grid-container div {
    overflow: hidden;
    background: #fff;
    border-radius: 6px;
    border: 16px solid #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    max-height: 600px;
}

.grid-container div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.grid-container div img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.grid-container p {
    margin: 15px 0;
}

.grid-container h3 {
    margin: 20px 0;
}

.grid-container div a {
    color: #169656;
}

.grid-container div a:hover {
    color: #1dc973;
}

.horizontal {
    grid-row: span 1;
}

.vertical {
    grid-row: span 2;
}

.long {
    grid-column: span 2;
}

/*MEDIA QUEIRES*/
@media screen and (max-width: 765px) {
    nav {
        grid-template-columns: repeat(4, 1fr);
    }

    nav h1 {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }
}

@media screen and (max-width: 980px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .long {
        grid-column: span 1;
    }
}

@media screen and (max-width: 750px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-container div img:hover {
        transform: none;
        cursor: default;
    }
}